#offers{
    &__list{
        width: 100%;
        padding: 1rem;

        &__offer{
            &>div{
                position: relative;

                &>img{
                    width: 100%;
                }
            }
            &__prices{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 1rem;
                
                &>*{
                    justify-content: end;
                }
            }
            &__info{
                padding: 1.4rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                box-shadow: 0px 14px 24px 0px #B8B8B81A;
            }
        }
    }

    &__popular{
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media(min-width: $desktop-size){
    #offers{
        
        &__list{
            
            &__offer{
                margin-inline: 23.4375rem;
    
                &__info{
                    z-index: 2;
                    position: relative;
                    top: -2rem;
                    background: white;
                    width: 65.625rem;
                    margin-inline: auto;
                    border-top: .5rem solid map-get($map: $theme-colors, $key: senary);
    
                    &>.section-header{
                        border-bottom: 0.0625rem solid #ECECEC;
                    }
    
                    &__description{
                        display: flex;
                        justify-content: space-between;
    
                        &>p{
                            width: 31rem;
                        }
    
                        &>.amenities__list{
                            width: 26.375rem;
                        }
                    }
                }
    
                &__prices{
                    position: absolute;
                    z-index: 3;
                    right: 6rem;
                    bottom: -5.5rem;
                    width: 1rem;
                }
            }
        }

    }
}